{% extends 'base.html' %}


{% block content %}
    <!--  个人信息 -->
    <div class="row">
        <div class="col-4 pt-3">
            <img src="{{ url_for('main_page.get_image', filename=user.photo) }}" alt="{{ user.username }}"
                 class="rounded-circle img-thumbnail">
        </div>
        <div class="col-6 align-self-center">
            <div class="row ps-3 align-items-center">
                <span class="h4">{{ user.username }}</span>
                <span><strong>{{ user.post|length }}</strong> stories</span>
                <span class="mt-1">{{ user.bio }}</span>
            </div>
        </div>
        <!-- 导航 -->
        <nav class="nav nav-justified mt-5">
            <a class="nav-link text-danger" aria-current="page"
               href="{{ url_for('user.people',username=current_user.username) }}">STORIES</a>
        </nav>
        <!-- 内容展示 -->
        {% if pagination.total == 0 %}
            <div class="container mb-3">
                <p class="text-muted text-center">This storyteller haven't written anything yet!</p></div>
        {% else %}
            <div>
                {% for post in posts %}
                    <blockquote class="card shadow-sm">
                        <div class="card-header text-left h3">
                            {{ post.emoji|safe }}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="small" style="text-align: justify">{{ post.story }}</p>
                                <br>
                                <footer class="blockquote-footer text-end">{{ post.name }}
                                    <small class="badge bg-secondary">{{ moment(post.time).fromNow(refresh=True) }}</small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="container-fluid row text-center">
                            <!--  赞，评按钮 -->
                            <div class="col" id={{ post.id }}>
                                <form type="button" onclick="likePost(this)" class="btn bg-transparent text-muted col">
                                    {% if post.id not in like_list %}
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    {% else %}
                                        <i class="bi bi-hand-thumbs-up-fill text-danger"></i>
                                    {% endif %}
                                    <input type="hidden" id="csrf_token" value="{{ csrf_token() }}"/>
                                    <text> {{ post.like }}</text>
                                </form>
                            </div>
                            <div class="col">
                                <a type="button" href="{{ url_for('main_page.post', post_id=post.id) }}"
                                   class="btn text-secondary">
                                    <i class="bi bi-chat-dots"></i> comment ({{ post.comment|length }})
                                </a>
                            </div>
                        </div>
                    </blockquote>
                {% endfor %}
            </div>
        {% endif %}


        <!-- 页码区域 -->
        <nav aria-label="page">
            <ul class="pagination justify-content-center">
                <!-- 定义previous 按钮-->
                {% if pagination.has_prev %}
                    <li class="page-item">
                        <a class="page-link text-danger"
                           href="{{ url_for(request.endpoint, page=pagination.prev_num) }}"
                           tabindex="-1"
                           aria-disabled="false">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                    </li>
                {% endif %}

                <!-- 定义页码按钮-->
                {% for _page in pagination.iter_pages() %}
                    {% if _page == pagination.page %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link bg-danger text-light" href="#">{{ _page }}</a>
                        </li>
                    {% elif not _page %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link text-danger"
                               href="{{ url_for(request.endpoint, page=_page) }}">{{ _page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- 定义Next按钮-->
                {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link text-danger"
                           href="{{ url_for(request.endpoint, page=pagination.next_num) }}"
                           tabindex="-1"
                           aria-disabled="false">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

{% endblock content %}